<!--templates/base.html-->
{% comment %} The main base for the whole website {% endcomment %}

{% load static %}

<html>

<head>
    <!-- This is the head content defined in base.html, the global base file for the entire website. -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% block head_global %}
    {% endblock %}
</head>

<body>
    <div class="header">
        <a href="{% url 'homepage' %}"><h1>sql_injection</h1></a>
        <div class="navbar">
            <ul>
                <li>
                    {% if user.is_authenticated %}
                        <a href="{% url 'dashboard' %}">Dashboard</a>
                    {% else %}
                        <a href="{% url 'login' %}">Dashboard</a>
                    {% endif %}
                </li>
                <li>
                    {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}">Logout</a>
                    {% else %}
                        <a href="{% url 'login' %}">Login</a>
                    {% endif %}
                </li>

                <li>
                    <a href="{% url 'register' %}">Register</a>
                </li>
                
                {% comment %} <li><p><a href="{% url '' %}">Register</a></p></li> {% endcomment %}
            </ul>
        </div>
    </div>
    {% block navbar_global %}
    {% endblock %}
    <hr>
    {% block content %}
    {% endblock %}
</body>
</html>
