<!--users/templates/users/register.html-->

{% extends 'base.html' %}

{% block content %}
<div class="centered">
    <h2>Register</h2>
    <div class="form-container">
        <form method="post">
            <div class="register-container">
                {% csrf_token %}
                {{ form.as_p }}
            </div>
            <input type="submit" value="Register" class="button submit-button">
        </form>
        <a href="{% url 'login' %}">Already have an accont? Login</a>
    </div>
</div>
{% endblock %}