<!--users/templates/registration/login.html-->

{% extends 'base.html' %}

{% block content %}
<div class="centered">
    <h2>Login</h2>
    <div class="form-container">
        <form method="post">
            <div class="login-container">
                {% csrf_token %}
                {{ form.as_p }}
            </div>
            <input type="submit" value="Login" class="button submit-button">
        </form>
        <a href="{% url 'register' %}">Don't have an account? Register</a>
    </div>
</div>
{% endblock %}
