body{
    background-image: radial-gradient(circle, #021638 0%, #33224F 100%);
    margin: 10px;
    height: 100%;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    float: top;
    width:auto;
    height:230px;
    padding: 0px;
    margin: 0px 25px;
    text-align: center;
    color:black;
    font-style: fjalla;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    background-image: radial-gradient(circle, #021638 0%, #33224F 100%)
}

.title {
    margin: 10px;
}

.header a, .header a:visited {
    color: white;
    border-radius: 20px;
    /* background: radial-gradient(circle, #C604D7 0%, #EB0293 100%) */
    background: linear-gradient(90deg, rgb(54, 0, 105) 20%, rgba(149,26,179,1) 80%);
}

a {
    color: white;
    text-decoration: none;
    border-radius: 20px;
    background: linear-gradient(90deg, rgb(54, 0, 105) 20%, rgba(149,26,179,1) 80%);
}

.header h1 {
    font-size: 50px;
}

.navbar {
    text-align: center;
}

.navbar ul {
    overflow: auto;
}

.navbar li {
    float: left;
    list-style: none;
    margin: 15px 20px;
}

.navbar li a {
    padding: 3px 4px;
    text-decoration: none;
    color: white;
    padding: 10px;
}

.centered {
    text-align: center;
}

#feature-list {
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    width: 70%;
    height: 50%;
    display: flex;
    
}

#feature-list li {
    font-size: 40px;
    margin-bottom: 30px;
    padding: 10px;
    list-style: none;
    border-radius: 20px;
    /* background-image: radial-gradient(circle, #021638 0%, #33224F 100%); */
    background: linear-gradient(90deg, rgb(54, 0, 105) 20%, rgba(149,26,179,1) 80%);
}

.left-column {
    float: left;
    width: 40%;
    height: 100%;
    align-items:center;
}

.right-column {
    float: right;
    width: 40%;
    height: 100%;
    align-items:center;
}

#homepage-content h1 {
    font-size: 3em;
}
#homepage-content h2 {
    font-size: 2em;
}

.document-list {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.document-item {
    margin: 30px 20% 0px 20%;
    padding: 5px 10px 5px 10px;
    width: 20%;
    border: 1px solid #C604D7;
    border-radius: 20px;

    text-align: center;
}

/* Login and Register Form Styling */
.form-container {
    float: none;
    display: flex;
    flex-direction: column;
}
.button {
    border-width: 0px;
    color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    background: linear-gradient(90deg, rgb(54, 0, 105) 20%, rgba(149,26,179,1) 80%);
    cursor: pointer;
    width: 20%;
}

.submit-button {
    font-size: 20px;
}
