body{
    background-image: radial-gradient(circle, #2b3743 0%, #2a4a50 100%);
    margin: 10px;
    height: 100%;
    color: white;
}

.header {
    background-color: DimGray;
    float: top;
    width:auto;
    height:150px;
    padding: 0px;
    margin: 0px 25px;
    border: 1px solid black;
    text-align: center;
    color:black;
    font-style: fjalla;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    margin: 10px;
}

.header a, .header a:visited {
    color: white;
}
.header a {
    color: white;
}

.navbar {
    text-align: center;
}

.navbar ul, .navbar h1 {
    overflow: auto;
}

.navbar li {
    float: left;
    list-style: none;
    margin: 15px 20px;
}

.navbar li a {
    padding: 3px 4px;
    text-decoration: none;
    color: white;
}

.centered {
    text-align: center;
}

#feature-list {
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    width: 70%;
    height: 50%;
    /* border: 1px solid red; */
    display: flex;
    
}

#feature-list li {
    font-size: 40px;
    margin-bottom: 30px;
    padding: 10px;
    list-style: none;
    border-radius: 20px;
    background-color: #411261;
}

.left-column {
    float: left;
    width: 40%;
    height: 100%;
    align-items:center;
}

.right-column {
    float: right;
    width: 40%;
    height: 100%;
    align-items:center;
}

#homepage-content h1 {
    font-size: 3em;
}
#homepage-content h2 {
    font-size: 2em;
}
