<!--users/templates/users/dashboard.html-->

{% extends 'base.html' %}

{% block content %}
<div class="centered" id="homepage-content">
    <h1>The 1# Tool for Securely Storing Documents</h1>
    <h2>Never worry about data breaches again.</h2>
    <div id="feature-list">
    <ol>
        <div class="left-column">
            <li><strong>Safe</strong> and <strong>Secure</strong> with encrypted database.</li>
            <li><strong>Absolutely unhackable</strong> database system.</li>
        </div>
        <div class="right-column">
            <li><strong>Blazing Fast</strong> load times for fast and convenient note taking</li>
            <li><strong>Intuitive</strong> User Interface</li>
        </div>
    </ol>
    </div>
</div>
{% endblock %}
